<div class="card-body">
    <div class="main-content-label mg-b-5">Basic Navigation</div>
    <div class="pd-20 bg-gray-200">
        <nav class="nav main-nav flex-column flex-md-row">
            <a class="nav-link active" data-toggle="tab" href="#">Home</a>
            <a class="nav-link" data-toggle="tab" href="#">About</a>
            <a class="nav-link" data-toggle="tab" href="#">Features</a>
            <a class="nav-link" data-toggle="tab" href="#">Services</a>
            <a class="nav-link" data-toggle="tab" href="#">Blog</a>
            <a class="nav-link" data-toggle="tab" href="#">Contact</a>
        </nav>
    </div>
</div>

<div class="card-body">
    <div class="main-content-label mg-b-5">Vertical Navigation</div>
    <div class="row">
        <div class="col-2">
            <div class="pd-20 bg-gray-200">
                <nav class="nav main-nav-column">
                    <a class="nav-link active" data-toggle="tab" href="#">Home</a>
                    <a class="nav-link" data-toggle="tab" href="#">About</a>
                    <a class="nav-link" data-toggle="tab" href="#">Features</a>
                    <a class="nav-link" data-toggle="tab" href="#">Services</a>
                    <a class="nav-link" data-toggle="tab" href="#">Blog</a>
                    <a class="nav-link" data-toggle="tab" href="#">Contact</a>
                </nav>
            </div>
        </div>
    </div>
</div>