<div class="container-fluid">
  <div class="page-header">
    <h3>Form Layouts</h3>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <p>Horizontal Alignment</p>
          <div class="row">
            <div class="col-5"><input class="form-control" placeholder="Enter your username" type="text" /></div>
            <div class="col-5"><input class="form-control" placeholder="Enter your password" type="password" /></div>
            <div class="col"><button class="btn btn-outline-secondary" type="button">Sign In</button></div>
          </div>
          <hr />
          <p>Vertical Alignment</p>
          <div class="row">
            <div class="col-6">
              <div class="form-group"><input class="form-control" placeholder="Enter your username" type="text" /></div>
              <div class="form-group"><input class="form-control" placeholder="Enter your password" type="password" /></div>
              <button class="btn btn-outline-secondary" type="button">Sign In</button>
            </div>
          </div>
          <hr />
          <p>Left Label Alignment</p>
          <div class="row align-items-center mg-b-20">
            <div class="col-4"><label class="form-label mg-b-0">Firstname</label></div>
            <div class="col-8 mg-t-5 mg-md-t-0"><input class="form-control" placeholder="Enter your firstname" type="text" /></div>
          </div>
          <div class="row align-items-center mg-b-20">
            <div class="col-4"><label class="form-label mg-b-0">Lastnane</label></div>
            <div class="col-8 mg-t-5 mg-md-t-0"><input class="form-control" placeholder="Enter your lastname" type="text" /></div>
          </div>
          <div class="row align-items-center mg-b-20">
            <div class="col-4"><label class="form-label mg-b-0">Email</label></div>
            <div class="col-8 mg-t-5 mg-md-t-0"><input class="form-control" placeholder="Enter your email" type="email" /></div>
          </div>
          <button class="btn btn-outline-secondary" type="button">Register</button>
          <button class="btn btn-dark" type="button">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
