<ul class="nav nav-pills">
  <a class="btn btn-primary btn-radius" role="button" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
      Form
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/form-elements" routerLinkActive="active">Form Elements</a>
      <a class="dropdown-item" routerLink="/form-layouts" routerLinkActive="active">Form Layouts</a>
    </div>
  </div>
  <a class="btn btn-primary btn-radius" role="button" routerLink="/table" routerLinkActive="active">Table</a>
  <a class="btn btn-primary btn-radius" role="button" routerLink="/typo" routerLinkActive="active">Typo</a>
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" type="button">
      UI Elements
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/accordion" routerLinkActive="active">Accordion</a>
      <a class="dropdown-item" routerLink="/alerts" routerLinkActive="active">Alerts</a>
      <a class="dropdown-item" routerLink="/avatar" routerLinkActive="active">Avatar</a>
      <a class="dropdown-item" routerLink="/badge" routerLinkActive="active">Badge</a>
      <a class="dropdown-item" routerLink="/breadcrumbs" routerLinkActive="active">Breadcrumbs</a>
      <a class="dropdown-item" routerLink="/buttons" routerLinkActive="active">Buttons</a>
      <a class="dropdown-item" routerLink="/cards" routerLinkActive="active">Cards</a>
      <a class="dropdown-item" routerLink="/carousel" routerLinkActive="active">Carousel</a>
      <a class="dropdown-item" routerLink="/collapse" routerLinkActive="active">Collapse</a>
      <a class="dropdown-item" routerLink="/dropdown" routerLinkActive="active">Dropdown</a>
      <a class="dropdown-item" routerLink="/images" routerLinkActive="active">Images</a>
      <a class="dropdown-item" routerLink="/listgroup" routerLinkActive="active">List Group</a>
      <a class="dropdown-item" routerLink="/loaders" routerLinkActive="active">Loaders</a>
      <a class="dropdown-item" routerLink="/mediaobject" routerLinkActive="active">Media Object</a>
      <a class="dropdown-item" routerLink="/modals" routerLinkActive="active">Modals</a>
      <a class="dropdown-item" routerLink="/navigation" routerLinkActive="active">Navigation</a>
      <a class="dropdown-item" routerLink="/pagination" routerLinkActive="active">Pagination</a>
      <a class="dropdown-item" routerLink="/panels" routerLinkActive="active">Panels</a>
      <a class="dropdown-item" routerLink="/popover" routerLinkActive="active">Popover</a>
      <a class="dropdown-item" routerLink="/progress" routerLinkActive="active">Progress</a>
    </div>
  </div>
</ul>
