<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Krishna</td>
            <td>Programmer</td>
            <td>G-Able</td>
            <td>22</td>
            <td>2020/02/03</td>
            <td>$10,000</td>
        </tr>
    </tbody>
</table> 