<h1>Sample Table</h1>

<div class="d-flex justify-content-end">
    <select class="custom-select" style="width: auto" >
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
        <option [ngValue]="10">10 items per page</option>
    </select>
</div>

<table *ngIf="arrEmployees" class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of arrEmployees">
            <td>{{ employee.name }}</td>
            <td>{{ employee.position }}</td>
            <td>{{ employee.office }}</td>
            <td>{{ employee.age | number }}</td>
            <td>{{ employee.startDate }}</td>
            <td>{{ employee.salary }}</td>
        </tr>
    </tbody>
</table>

<ngb-pagination class="d-flex justify-content-end" [collectionSize]="70" [(page)]="page"></ngb-pagination>
<pre>Current page: {{page}}</pre>

<!-- <div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" 
                    [(page)]="page" 
                    [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>
</div>
<pre style="text-align: right;">Current page: {{page}}</pre> -->