<h1>Sample Table</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Position</th>
            <th scope="col">Office</th>
            <th scope="col">Age</th>
            <th scope="col">Start date</th>
            <th scope="col">Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <th scope="row">{{ employee.id }}</th>
            <td class="text-nowrap">{{ employee.name }}</td>
            <td class="text-nowrap">{{ employee.position }}</td>
            <td class="text-nowrap">{{ employee.office }}</td>
            <td class="text-nowrap">{{ employee.age | number }}</td>
            <td class="text-nowrap">{{ employee.startDate }}</td>
            <td class="text-nowrap">{{ employee.salary }}</td>
        </tr>
    </tbody>
</table>

<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" 
                    [(page)]="page" 
                    [pageSize]="pageSize">
    </ngb-pagination>
  
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select>
</div>
<pre style="text-align: right;">Current page: {{page}}</pre>