<div id="page-element-form" class="row">
  <div id="page-header" class="col-12">
    <h3>Form Element</h3>
    <small>Custom components for creating a wide variety of forms</small>
  </div>
  <div id="page-content" class="col-12">
    <div class="row">
      <!-- Start form Basic Inputs -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Basic Inputs</h5>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-4">Text</label>
              <div class="col-8">
                <input id="input-basicbox" name="basicbox" type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label" for="input-id-focus">Label focus</label>
              <div class="col-8">
                <input id="input-id-focus" name="focusbox" type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Password</label>
              <div class="col-8">
                <input id="input-password" name="password" type="password" class="form-control" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Placeholder</label>
              <div class="col-8">
                <input id="input-placeholder" name="placeholder" type="text" class="form-control" placeholder="placeholder" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Help text</label>
              <div class="col-8">
                <input id="input-with-helptext" name="helptext" type="text" class="form-control" />
                <small class="form-text text-muted">A block of help text that breaks onto a new line and may extend beyond one line.</small>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Disabled</label>
              <div class="col-8">
                <input id="input-disabled" name="disabled" class="form-control" type="text" placeholder="Disabled input" disabled="disabled" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Readonly</label>
              <div class="col-8">
                <input id="input-readonly" name="readonly" class="form-control" type="text" placeholder="You can't update me :P" readonly="readonly" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Readonly plain text</label>
              <div class="col-8">
                <div id="form-plaintext" name="plaintext" class="form-control-plaintext">email@example.com</div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Textarea</label>
              <div class="col-8">
                <textarea id="input-textarea" name="textarea" class="form-control" placeholder="Textarea" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End form Basic Inputs -->
      <!-- Start form Input Group -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Input Group</h5>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-4 col-form-label">Addon with Input text</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@text</span>
                  </div>
                  <input id="input-addon1" name="addon1" type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" />
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon2">@text area</span>
                  </div>
                  <textarea id="input-addon2" name="addon2" class="form-control" aria-label="With textarea"></textarea>
                </div>
                <div class="input-group mt-3">
                  <input id="input-addon3" name="addon3" type="text" class="form-control" placeholder="" aria-label="name" aria-describedby="basic-addon3" />
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon3">@example.com</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Addon on both side</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                  </div>
                  <input id="input-addon4" name="addon4" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
                  <div class="input-group-append">
                    <span class="input-group-text">.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Multiple Addon</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                  </div>
                  <input id="input-addon5" name="addon5" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
                </div>
                <div class="input-group mt-3">
                  <input id="input-addon6" name="addon6" type="text" class="form-control" aria-label="Amount (to the nearest dollar)" />
                  <div class="input-group-append">
                    <span class="input-group-text">$</span>
                    <span class="input-group-text">0.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4">Checkboxes and radios with input text</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="checkbox" aria-label="Checkbox for following text input" />
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with checkbox" />
                </div>

                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <input type="radio" aria-label="Radio button for following text input" />
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with radio button" />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Multiple Inputs</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">First and last name</span>
                  </div>
                  <input id="input-firstname" name="firstname" type="text" class="form-control" />
                  <input id="input-lastname" name="lastname" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Button addons</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
                  <input id="button-addon1" name="bntaddon1" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" />
                </div>

                <div class="input-group mt-3">
                  <input id="button-addon2" name="bntaddon2" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
                </div>

                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
                  <input id="button-addon3" name="bntaddon3" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" />
                </div>

                <div class="input-group mt-3">
                  <input id="button-addon4" name="bntaddon4" type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon2" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                    <button class="btn btn-outline-secondary" type="button">Button</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Buttons with dropdowns</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item">Action</a>
                      <a class="dropdown-item">Another action</a>
                      <a class="dropdown-item">Something else here</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with dropdown button" />
                </div>

                <div class="input-group mt-3">
                  <input type="text" class="form-control" aria-label="Text input with dropdown button" />
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item">Action</a>
                      <a class="dropdown-item">Another action</a>
                      <a class="dropdown-item">Something else here</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                </div>

                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary">Action</button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item">Action</a>
                      <a class="dropdown-item">Another action</a>
                      <a class="dropdown-item">Something else here</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" />
                </div>

                <div class="input-group mt-3">
                  <input type="text" class="form-control" aria-label="Text input with segmented dropdown button" />
                  <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary">Action</button>
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                      <a class="dropdown-item">Action</a>
                      <a class="dropdown-item">Another action</a>
                      <a class="dropdown-item">Something else here</a>
                      <div role="separator" class="dropdown-divider"></div>
                      <a class="dropdown-item">Separated link</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Addon with dropdowns</label>
              <div class="col-8">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="setect-inputGroupSelect01">Options</label>
                  </div>
                  <select id="setect-inputGroupSelect01" name="inputGroupSelect01" class="custom-select">
                    <option selected="selected">Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label"></label>
              <div class="col-8">
                <div class="input-group mb-3">
                  <select id="setect-inputGroupSelect02" name="inputGroupSelect02" class="custom-select">
                    <option selected="selected">Choose...</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                  <div class="input-group-append">
                    <label class="input-group-text" for="setect-inputGroupSelect02">Options</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-4 col-form-label"></label>
              <div class="col-8"></div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label"></label>
              <div class="col-8"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Form Input Group -->
      <!-- Start Form Input Styte -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Inputs Style</h5>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-4 col-form-label">Square Input</label>
              <div class="col-8">
                <input id="input-squarebox" name="squarebox" type="text" class="form-control form-square" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Rounded Input</label>
              <div class="col-8">
                <input id="input-circlebox" name="circlebox" type="text" class="form-control form-circle" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Rounded Left Input</label>
              <div class="col-8">
                <input id="input-circlebox-l" name="circleBL" type="text" class="form-control form-circle-l" />
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Rounded Right Input</label>
              <div class="col-8">
                <input id="input-circlebox-r" name="circleBR" type="text" class="form-control form-circle-r" />
              </div>
            </div>

            <div class="form-group row">
              <label class="col-4 col-form-label">Input Size</label>
              <div class="col-8">
                <input id="input-smBox1" name="smBox1" type="text" class="form-control form-control-sm" placeholder="Small box" />
                <input id="input-defaultBox1" name="defaultBox1" type="text" class="form-control mt-3" placeholder="Default box" />
                <input id="input-lgBox1" name="lgBox1" type="text" class="form-control form-control-lg mt-3" placeholder="Large box" />
                <div class="input-group input-group-sm mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Small</span>
                  </div>
                  <input id="input-smBox2" name="smBox2" type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="Small box with addon" />
                </div>
                <div class="input-group mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">Default</span>
                  </div>
                  <input id="input-defaultBox2" name="defaultBox2" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" placeholder="Default box with addon" />
                </div>
                <div class="input-group input-group-lg mt-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-lg">Large</span>
                  </div>
                  <input id="input-lgBox2" name="lgBox2" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-lg" placeholder="Large box with addon" />
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Select Size</label>
              <div class="col-8">
                <select id="" name="" class="form-control form-control-sm">
                  <option label="Small size"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <select id="" name="" class="form-control mt-3">
                  <option label="Default size"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
                <select id="" name="" class="form-control form-control-lg mt-3">
                  <option label="Large size"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Form Input Styte -->
      <!-- Select, Checkbox and Radio -->
      <div class="col-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Select, Checkbox and Radio...</h5>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-4 col-form-label">Single Select</label>
              <div class="col-8">
                <select id="select-dropdownlist01" name="selectDropdownlist01" class="form-control">
                  <option label="Choose one"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Multiple Select</label>
              <div class="col-8">
                <select id="select-dropdownlist02" name="selectDropdownlist02" multiple="multiple" class="form-control">
                  <option label="Choose one"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Disabled Select</label>
              <div class="col-8">
                <select class="form-control" disabled="disabled">
                  <option label="Can't select"></option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Checkbox</label>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
                  <label class="form-check-label" for="defaultCheck1">Default checkbox</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" />
                  <label class="form-check-label" for="defaultCheck2">Second default checkbox</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled="disabled" />
                  <label class="form-check-label" for="defaultCheck3">Disabled checkbox</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Radio</label>
              <div class="col-8">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked="checked" />
                  <label class="form-check-label" for="exampleRadios1">Default radio</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
                  <label class="form-check-label" for="exampleRadios2">Second default radio</label>
                </div>
                <div class="form-check disabled">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled="disabled" />
                  <label class="form-check-label" for="exampleRadios3">Disabled radio</label>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Checkbox inline</label>
              <div class="col-sm-8">
                <div class="mt-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" />
                    <label class="form-check-label" for="inlineCheckbox1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" />
                    <label class="form-check-label" for="inlineCheckbox2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3" disabled="disabled" />
                    <label class="form-check-label" for="inlineCheckbox3">3 (disabled)</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Radio inline</label>
              <div class="col-sm-8">
                <div class="mt-2 mb-2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" />
                    <label class="form-check-label" for="inlineRadio1">1</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" />
                    <label class="form-check-label" for="inlineRadio2">2</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled="disabled" />
                    <label class="form-check-label" for="inlineRadio3">3 (disabled)</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-4 col-form-label">Switches Inline</label>
              <div class="col-8">
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="customSwitchInline1" />
                  <label class="custom-control-label" for="customSwitchInline1">Switch element1</label>
                </div>
                <div class="custom-control custom-switch custom-control-inline">
                  <input type="checkbox" class="custom-control-input" id="customSwitchInline2" />
                  <label class="custom-control-label" for="customSwitchInline2">Switch element2</label>
                </div>
                <div class="custom-control custom-switch">
                  <input type="checkbox" class="custom-control-input" disabled id="customSwitchDisabled" />
                  <label class="custom-control-label" for="customSwitchDisabled">Disabled switch element</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Select, Checkbox and Radio -->
      </div>
    </div>
  </div>
</div>
