<div aria-multiselectable="true" class="accordion accordion-dark" id="accordion" role="tablist">
    <div class="card shadow-none">
        <div class="card-header" id="headingOne" role="tab">
            <a aria-controls="collapseOne" aria-expanded="false" 
                data-toggle="collapse" href="#collapseOne">Basic Style Accordion 01</a>
        </div>
        <div aria-labelledby="headingOne" class="collapse show" 
                data-parent="#accordion" id="collapseOne" role="tabpanel">
            <div class="card-body">
                we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized by the charms of pleasure of the moment, so blinded by desire, that 
                they cannot foresee the pain and trouble that are bound to ensue; and equal blame 
                belongs to those who fail in their duty through weakness
            </div>
        </div>
    </div>

    <div class="card shadow-none">
        <div class="card-header" id="headingTwo" role="tab">
            <a aria-controls="collapseTwo" aria-expanded="true" 
                data-toggle="collapse" href="#collapseTwo">Basic Style Accordion 02</a>
        </div>
        <div aria-labelledby="headingTwo" class="collapse show" 
                data-parent="#accordion" id="collapseTwo" role="tabpanel">
            <div class="card-body">
                we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized by the charms of pleasure of the moment, so blinded by desire, that 
                they cannot foresee the pain and trouble that are bound to ensue; and equal blame 
                belongs to those who fail in their duty through weakness
            </div>
        </div>
    </div>

    <div class="card shadow-none">
        <div class="card-header" id="headingThree" role="tab">
            <a aria-controls="collapseThree" aria-expanded="true" 
                data-toggle="collapse" href="#collapseThree">Basic Style Accordion 03</a>
        </div>
        <div aria-labelledby="headingThree" class="collapse show" 
                data-parent="#accordion" id="collapseThree" role="tabpanel">
            <div class="card-body">
                we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized by the charms of pleasure of the moment, so blinded by desire, that 
                they cannot foresee the pain and trouble that are bound to ensue; and equal blame 
                belongs to those who fail in their duty through weakness
            </div>
        </div>
    </div>

    <div class="card shadow-none">
        <div class="card-header" id="headingFour" role="tab">
            <a aria-controls="collapseFour" aria-expanded="true" 
                data-toggle="collapse" href="#collapseFour">Basic Style Accordion 04</a>
        </div>
        <div aria-labelledby="headingFour" class="collapse show" 
                data-parent="#accordion" id="collapseFour" role="tabpanel">
            <div class="card-body">
                we denounce with righteous indignation and dislike men who are so beguiled and
                demoralized by the charms of pleasure of the moment, so blinded by desire, that 
                they cannot foresee the pain and trouble that are bound to ensue; and equal blame 
                belongs to those who fail in their duty through weakness
            </div>
        </div>
    </div>
</div>

