<nav>
  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
  <a routerLink="/form" routerLinkActive="active">Form</a>
  <a routerLink="/table" routerLinkActive="active">Table</a>
  <a routerLink="/typo" routerLinkActive="active">Typo</a>
</nav>

<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Dashboard</a>
    <ng-template ngbNavContent>
      <app-dashboard></app-dashboard>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Form</a>
    <ng-template ngbNavContent>
      <app-form></app-form>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Table</a>
    <ng-template ngbNavContent>
      <app-table></app-table>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Typo</a>
    <ng-template ngbNavContent>
      <app-typo></app-typo>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->
