<nav>
  <a routerLink="/dashboard" routerLinkActive="active">
    <button type="button" class="btn btn-primary">Dashboard</button>
  </a>
  <a routerLink="/form" routerLinkActive="active">
    <button type="button" class="btn btn-info">Form</button>
  </a>
  <a routerLink="/table" routerLinkActive="active">
    <button type="button" class="btn btn-secondary">Table</button>
  </a>
  <a routerLink="/typo" routerLinkActive="active">
    <button type="button" class="btn btn-dark">Typo</button>
  </a>
</nav>

<!-- <ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Dashboard</a>
    <ng-template ngbNavContent>
      <app-dashboard></app-dashboard>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Form</a>
    <ng-template ngbNavContent>
      <app-form></app-form>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Table</a>
    <ng-template ngbNavContent>
      <app-table></app-table>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Typo</a>
    <ng-template ngbNavContent>
      <app-typo></app-typo>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div> -->
